/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
  height: 50px;
  width: 100%;
  background-color: black;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-item{
  font-size: 18px;
  color: white;
  padding: 12px;  
}
.nav-item:hover{
  background-color: rgb(49, 49, 49);
}

.main{
  width: 100%;
  height: 92vh;
  text-align: center;
  background-color: rgb(232, 232, 232);
}

.container{
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
}
